ul.blog-types{
    list-style: none;
    padding: 0px;
}

div.blog h3{
    margin-top: 0.5em;
}

div.blog:not(:last-child){
    border-bottom: 1px solid #EEE;
    margin-bottom: 2em;
    padding-bottom: 1em;
}
div.blog-content{
    margin-bottom: 2em;
}
ul.blog-info-desc{
    margin-bottom: 2em;
}
ul.blog-info-desc li{
    display: inline-block;
    margin-right: 2em;
}
nav.paginator{
    text-align: center;
}

ul.blog-info-desc>li{
    margin-right: 20px;
}

p.blog-info>span:not(:first-child){
    margin-left: 20px;
}
/* 评论 */
div.comment-area{
    margin-top: 2em;
}
h3.comment-area-title{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

div.django-ckeditor-widget{
    width: 100%;
}
div.comment{
    border-bottom: 1px dashed #ccc;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}
div.reply{
    margin-left: 2em;
}
div#reply-content_container{
    border: 1px solid #d1d1d1;
    border-bottom: none;
    overflow: hidden;
    background: #f8f8f8;
    padding: 1em 1em 0.5em;
}
#reply-content_container>p{
    border-bottom: 1px dashed #ddd;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    font-weight: 600;
}

#reply-content_container .comment_title_btn{
    float:right;
    position: relative;
    top: -50px;
}
/* 点赞 */
div.like{
    color: #337ab7;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.3em;
}
div.like>.active{
    color: #f22;
}