ul, li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body{
    padding-top: 70px;
}

.navbar{
    margin-bottom: 20px;
}

div.modal-footer>div.website-info{
    color: #555;
    text-align: center;
}

div.footer{
    margin-top: 2em;
}
