{% extends 'base.html' %}
{% load static %}
{% load comment_tags %}
{% load likes_tags %}
{% block title %}
    {{ blog.title }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block nav_blog_active %}active{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>{{ blog.title }}</h3>
                <ul class="blog-info-desc">
                    <li>作者:{{ blog.author }}</li>
                    <li>
                        分类:
                        <a href="{% url 'blog:blog_type_list' blog.blog_type.id %}">{{ blog.blog_type }}</a>
                    </li>
                    <li>
                        发布日期:{{ blog.created_time|date:'Y-m-d G:H:s' }}
                    </li>
                    <li>
                        阅读量({{ blog.get_read_num }})
                    </li>
                    <li>
                        评论数({% get_comment_count blog %})
                    </li>

                </ul>
                <div class="blog-content">{{ blog.content|safe }}</div>
                <div class="like" onclick="likeChange(this, '{% get_content_type blog %}', {{ blog.pk }})">
                    <span class="glyphicon glyphicon-thumbs-up {% get_like_status blog %}"></span>
                    <span class="liked-num">{% get_likes_num blog %}</span>
                    <span>喜欢</span>
                </div>
                <nav aria-label="...">
                  <ul class="pager">
                      {% if previous_blog %}
                    <li><a href="{% url 'blog:blog_detail' previous_blog.id %}">上一篇：{{ previous_blog.title|truncatechars:20 }}</a></li>
                      {% else %}
                      <li><span>没有了</span></li>
                      {% endif %}
                  {% if next_blog %}
                    <li><a href="{% url 'blog:blog_detail' next_blog.id %}">下一篇：{{ next_blog.title|truncatechars:20 }}</a></li>
                      {% else %}
                      <li><span>没有了</span></li>
                      {% endif %}
                  </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="comment-area">
                    <h3 class="comment-area-title">评论区域</h3>
                    {% if user.is_authenticated %}
                        <h5>{{ user.username }}, 欢迎评论\(^o^)/~</h5>
                        <form id="comment-form" action="{% url 'comment:update_comment' %}" method="post" style="overflow: hidden">
                            {% csrf_token %}
                            <div id="reply-content_container" style="display: none;">
                                <p>回复</p>
                                <div id="reply-content"></div>
                            </div>
                            <div class="form-group">
                                {% get_comment_form blog %}
                                <span id="comment-error" class="text-danger pull-left"></span>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right" style="float:right">评论</button>
                        </form>
                    {% else %}
                        你尚未登录，点击 <a href="{% url 'login' %}?from={{ request.path }}">登录</a>
                        或 <a href="{% url 'register' %}?from={{ request.path }}">注册</a>
                    {% endif %}
                </div>
                <div class="comment-area">
                    <h3 class="comment-area-title">评论列表</h3>
                    <div id="comment-list">
                    {% get_comment_list blog as comments %}
                        {% for comment in comments %}
                        <div class="comment">
                            <span id="comment_user_{{ comment.pk }}">{{ comment.comment_user.get_nickname_or_username }}</span>
                            <span>{{ comment.comment_time|date:"Y-m-d H:i:s" }}</span>
                            <span id="comment_{{ comment.pk }}">{{ comment.content|safe }}</span>
                            <div class="like" onclick="likeChange(this, '{% get_content_type comment %}', {{ comment.pk }})">
                                <span class="glyphicon glyphicon-thumbs-up {% get_like_status comment %}"></span>
                                <span class="liked-num">{% get_likes_num comment %}</span>
                                <span>喜欢</span>
                            </div>
                            <a href="javascript:reply({{ comment.pk }})">回复</a>

                            {% for reply in comment.root_comment.all %}
                                <div class="reply">
                                    <span id="comment_user_{{ reply.pk }}">{{ reply.comment_user.get_nickname_or_username }}</span>
                                    <span>{{ reply.comment_time|date:"Y-m-d H:i:s" }}</span>
                                    <span>回复</span>
                                    <span>{{ comment.comment_user.get_nickname_or_username }}:</span>
                                    <span id="comment_{{ reply.pk }}">{{ reply.content|safe }}</span>
                                    <a href="javascript:reply({{ reply.pk }})">回复</a>
                                    <div class="like" onclick="likeChange(this, '{% get_content_type reply %}', {{ reply.pk }})">
                                        <span class="glyphicon glyphicon-thumbs-up {% get_like_status reply %}"></span>
                                        <span class="liked-num">{% get_likes_num reply %}</span>
                                        <span>喜欢</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% empty %}
                        <span id="non-comment">暂无评论</span>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                    <form id="login_medal_form" action="{% url 'login_for_medal' %}" method="post">
                          <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">登录</h4>
                          </div>

                          <div class="modal-body">
                            {% csrf_token %}
                            {% for field in login_model_form %}
                                {{ field.label_tag }}
                                {{ field }}
                            {% endfor %}
                          <span id="login_medal_tip" class="text-danger">{{ field.errors.as_text }}</span>
                          </div>

                          <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">登录</button>
                          </div>
                    </form>
                    </div>
              </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        String.prototype.format = function(){
            var str = this;
            for (var i =0; i < arguments.length; i++){
                var str = str.replace(new RegExp('\\{'+ i +'\\}', 'g'), arguments[i]);
            };
            return str;
        }
        function numFormat(num){
            return ('00' + num).substr(-2);
        }
        function timeFormat(timestamp){
            var datetime = new Date(timestamp*1000);
            var year = datetime.getFullYear();
            var month = numFormat(datetime.getMonth() + 1);
            var day = numFormat(datetime.getDate());
            var hour = numFormat(datetime.getHours());
            var minute = numFormat(datetime.getMinutes());
            var second = numFormat(datetime.getSeconds());
            return year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
        }
        function likeChange(obj, content_type, object_id){
            var is_like = obj.getElementsByClassName('active').length == 0
            $.ajax({
                url: '{% url "like_change" %}',
                type: 'GET',
                data: {
                    content_type: content_type,
                    object_id: object_id,
                    is_like: is_like
                },
                cache: false,
                success: function(data){
                    console.log(data);
                    if(data['status']=='success'){
                        // 更新点赞状态
                        var element = $(obj.getElementsByClassName('glyphicon'));
                        if(is_like){
                            element.addClass('active');
                        }else{
                            element.removeClass('active');
                        }
                        // 更新点赞数量
                        var liked_num = $(obj.getElementsByClassName('liked-num'));
                        liked_num.text(data['liked_num']);
                    }else{
                        if(data['code']==400){
                            $('#login_modal').modal('show');
                        }else{
                            alert(data['message']);
                        }
                    }
                },
                error: function(data){
                    console.log(data);
                },
            });
        }
        $('#comment-form').submit(function(){
             // 判断是否为空
            $("#comment-error").text('');
            if (CKEDITOR.instances['id_text'].document.getBody().getText().trim()==''){
                $('#comment-error').text('评论内容不能为空');
                return false;
            };
            // 更新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();

            // 异步提交
            $.ajax({
                url: "{% url 'comment:update_comment' %}",
                type: "POST",
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    console.log(data);
                    if (data['status']=='success'){
                        // 插入数据
                    $("#non-comment").text('');// 清除暂无评论
                    if($("#reply_comment_id").val()=='0'){
                        // 插入评论
                        var comment_html = '<div class="comment"> <span id="comment_user_{0}">{1}</span> '+
                            '<span>{2}</span> '+
                            '<span id="comment_{0}">{3}</span>'+
                            '<div class="like" onclick="likeChange(this, \'{4}\', {0})">'+
                                '<span class="glyphicon glyphicon-thumbs-up"></span> '+
                                '<span class="liked-num">0</span> '+
                                '<span>喜欢</span>'+
                            '</div>'+
                            '<a href="javascript:reply({0})">回复</a></div>';
                        comment_html = comment_html.format(data['pk'], data['username'], timeFormat(data['comment_time']), data['text'], data['content_type_model']);
                        $("#comment-list").prepend(comment_html);
                    }else{
                        // 插入回复
                        var comment_html = '<div class="reply">'+
                            '<span id="comment_user_{0}">{1}</span>'+
                            '<span>{2}</span>'+
                            '<span>回复</span>'+
                            '<span>{3}:</span>'+
                            '<span id="comment_{0}">{4}</span>'+
                            '<a href="javascript:reply({0})">回复</a>'+
                            '<div class="like" onclick="likeChange(this, \'{5}\', {0})">'+
                                '<span class="glyphicon glyphicon-thumbs-up"></span> '+
                                '<span class="liked-num">0</span> '+
                                '<span>喜欢</span>'+
                            '</div> </div>';
                        comment_html = comment_html.format(data['pk'],data['username'],timeFormat(data['comment_time']),data['reply_to'],data['text'],data['content_type_model']);
                        $("#comment_"+data['root_id']).parent().append(comment_html);
                    }
                    $('#comment-error').text("评论成功");
                    // 清除回复id
                    $("#reply_comment_id").val('0');
                    // 关闭回复显示
                    $("#reply-content_container").hide();
                    // 清空编辑框的内容
                     CKEDITOR.instances['id_text'].setData('');
                    }else {
                        // 显示错误信息
                        $('#comment-error').text(data['data']['text']);
                    }
                },
                error: function(xhr){
                    console.log('错误', xhr);
                }
            });
            return false;
        });

        // 给回复链接绑定事件
        function reply(comment_id){
            // 设置值
            var html = $("#comment_user_" + comment_id).html()+":"+$("#comment_" + comment_id).html();
            $("#reply-content").html(html);
            $("#reply-content_container").show();
            $("#reply_comment_id").val(comment_id);
            $('html').animate({scrollTop: $('#comment-form').offset().top - 60}, 300);
            CKEDITOR.instances['id_text'].focus();
        }

        $("#login_medal_form").submit(function(){
            $.ajax({
                url: '{% url "login_for_medal" %}',
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    if(data['status']=='success'){
                        window.location.reload();
                    }else{
                        $('#login_medal_tip').text('用户名或密码不正确');
                        $('[name="password"]').val('');
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            return false;
        })
    </script>
{% endblock %}