{% extends 'base.html' %}
{% load static %}
{% block title %}
    个人信息
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block nav_blog_active %}active{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                {% if user.is_authenticated %}
                    <h2>{{ user.username }}</h2>
                    <ul>
                        <li>昵称：{{ user.get_nickname }}<a href="{% url 'change_nickname' %}"> 修改昵称</a></li>
                        <li>邮箱：{% if user.email %}{{ user.email }}<a href="javascript:bind_cancel()">解除绑定</a>{% else %}未绑定<a href="{% url 'bind_email' %}"> 绑定邮箱</a>
                            </li>{% endif %}
                        <li>上一次登录的时间：{{ user.last_login|date:'Y-m-d  G:H:s' }}</li>
                        <li><a href="{% url 'change_password' %}">修改密码</a></li>
                    </ul>
                {% else %}
                    <h3>未登录，跳转到首页...</h3>
                    <script type="text/javascript">
                        function func(){
                            window.location.href = "{% url 'home' %}";
                        }
                        setTimeout('func()',1000);
                    </script>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        function bind_cancel(){
            if (confirm('您确定要解除绑定吗？一旦解除后将无法找回密码和其他实时邮件通知服务')){
                $.ajax({
                    url: '{% url "cancel_email" %}',
                    cache: false,
                    type: 'GET',
                    data:{

                    },
                    success: function (data) {
                        if (data['status']=='success'){
                            window.location.reload();
                        }else{
                            alert('解除绑定出错！');
                        };
                    }
                })
            }
        }
    </script>
{% endblock %}
