{% extends 'forms.html' %}

{% block other_buttons %}
    <button id="send_code" class="btn btn-primary" type="button">发送验证码</button>
    <input type="hidden" name="from" value="{{ return_back_url }}">
{% endblock %}

{% block form %}<form action="{% url 'forgot_password' %}" method="post">{% endblock %}

{% block script %}
    <script type="text/javascript">
        $("#send_code").click(function(){
            $('.text-danger').text('');
            var email = $('#id_email').val();
            if(email==""){
                $("#tip").text('* 邮箱不能为空');
                return false;
            }
            var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");
            if(!reg.test(email)){
                $("#tip").text('* 邮箱格式不正确');
                return false;
            }
            // 发送验证码
            $.ajax({
                url: '{% url "send_verify_code" %}',
                type: 'GET',
                data: {
                    'email': email,
                    'send_for': 'reset_password',
                },
                cache: false,
                success: (data)=>{
                    if(data['status']=='success'){
                        // 把按钮变灰
                        $(this).addClass('disabled');
                        $(this).attr('disabled', true);
                        var time = 30;
                        $(this).text(time + 's');
                        var interval = setInterval(() => {
                            if(time <= 0){
                                clearInterval(interval);
                                $(this).removeClass('disabled');
                                $(this).attr('disabled', false);
                                $(this).text('发送验证码');
                                return false;
                            }
                            time --;
                            $(this).text("验证码已发送 "+time + 's');
                        }, 1000);
                    }else{
                        alert(data['message']);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                },
            });
        });
        $("#id_email").change(function(){
             $("#tip").text('');
        });
    </script>
{% endblock %}