{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default  navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">个人博客网站</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% block nav_home_active %}{% endblock %}"><a href="{% url 'home' %}">首页<span class="sr-only">(current)</span></a></li>
        <li class="{% block nav_blog_active %}{% endblock %}"><a href="{% url 'blog:blog_list' %}">博客</a></li>


      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if not user.is_authenticated %}
        <li><a href="{% url 'login' %}?from={{ request.path }}">登录</a></li>
        <li><a href="{% url 'register' %}?from={{ request.path }}">注册</a></li>
        <li><a href="javascript:void(0)" onclick="show()">弹窗登录</a></li>
          {% else %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'user_info' %}">个人资料</a></li>
            <li><a href="{% url 'logout' %}?from={{ request.path }}">退出</a></li>
          </ul>
        </li>
          {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


{% block content %}
{% endblock %}
<!-- Modal -->
<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                    <form id="login_medal_form" action="{% url 'login_for_medal' %}" method="post">
                          <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">登录</h4>
                          </div>

                          <div class="modal-body">
                            {% csrf_token %}
                            {% for field in login_model_form %}
                                {{ field.label_tag }}
                                {{ field }}
                            {% endfor %}
                          <span id="login_medal_tip" class="text-danger">{{ field.errors.as_text }}</span>
                          </div>

                          <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">登录</button>
                          </div>
                    </form>
                    </div>
              </div>
        </div>
<script type="text/javascript">
    $("#login_medal_form").submit(function(){
            $.ajax({
                url: '{% url "login_for_medal" %}',
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    if(data['status']=='success'){
                        window.location.reload();
                    }else{
                        $('#login_medal_tip').text('用户名或密码不正确');
                        $('[name="password"]').val('');
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            return false;
        })
    function show(){
        $('#login_modal').modal('show');
    }

</script>
<script src="{% static 'js/jquery-1.11.3.js' %}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
{% block script %}{% endblock %}
</body>
</html>